<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@300;400;600&display=swap"
	rel="stylesheet">
<title>Tipos Islas Hormigas</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>




<body>
	<header th:replace="plantilla/template::header"></header>
	
	
	<div class="container">

		<a class="btn btn-primary btn-sm" th:href="@{/views/tipos/create}"
			th:text="'Nuevo Tipo'" title="Crear Nuevo Tipo"></a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ti:${tipos}">
					
					<td th:text="${ti.idTipo}"></td>
					<td th:text="${ti.nombre}"></td>
					<td th:text="${ti.descripcion}"></td>
					<td>
					<a class="btn btn-success btn-sm" th:href="@{/views/tipos/edit/}+${ti.idTipo}" 
					th:text="'Editar'" title="Editar Tipo"></a>
					</td>
					<td>
					<a class="btn btn-danger btn-sm" th:href="@{/views/tipos/delete/}+${ti.idTipo}" 
					th:text="'Eliminar'" title="Eliminar Tipo"
					onclick="return confirm('¿Estás seguro de querer eliminar el registro?')"></a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	
	<footer th:replace="plantilla/template::footer"></footer>
</body>
</html>