<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
  
  <!--script src="https://kit.fontawesome.com/1ef2e059b7.js" crossorigin="anonymous"></script-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


  
  <script type="text/javascript" src="js/prueba.js"></script>
  <link rel="stylesheet" type="text/css" href="css/contacto.css" />
  <link rel="icon" type="image/png" href="img/islas.jpeg" />

  <title>Home</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/home">
        <img src="img/logo2.png" alt="Logo Islas Hormigas" />
      </a>
    </nav>



     <!-- BUTTON - DROPDOWN -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto float-left">
        <!-- BUTTON - NORMAL -->
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/inmersiones">Salidas</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link"href="/login">Mi cuenta</a>
        </li> 
      </ul>
    </div>
  </nav>

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title"><br/>
            <h2>CONTACTO</h2>
       
            <p>Para cualquier consulta, sugerencia o duda, contacte con nosotros a través de nuestro Número de Teléfono o Dirección de Correo</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Dirección</h3>
                <p>Paseo de la Barra, 15, 30370 Cabo de Palos (Murcia)</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-7">
              <div class="info-box  mb-4">
                <i class="fas fa-envelope"></i>
                <h3>Email </h3>
                <a href="mailto:islashormigas@islashormigas.com">islashormigas@islashormigas.com</a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5">
              <div class="info-box  mb-4">
                <i class="fas fa-phone-alt"></i>    
                <h3>Llámanos</h3>
                <a href="tel:+34620557940">+34 620 557 940</a>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12639.039291770412!2d-0.70011!3d37.631337!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6d1c43e75736b61!2sClub%20de%20Buceo%20Islas%20Hormigas!5e0!3m2!1ses!2ses!4v1622637956872!5m2!1ses!2ses"  frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="" method="" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre y apellidos" data-rule="minlen:4" data-msg="Introduce tu nombre completo" />
                    <div class="validate"></div>
                  </div>
                  <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Introduce un email válido" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Debes escribir un asunto" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Tienes que escribirnos algo!" placeholder="Mensaje"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Se ha enviado tu mensaje. ¡Gracias!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

<!-- FOOTER 3 COL -->
<footer>
  <div class="footer_container">
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-md-5 item text">
                  <h3>ACERCA DE NOSOTROS</h3>
                  <p>En Islas Hormigas Club de Buceo queremos compartir contigo nuestra pasi&oacute;n
                    por el mar y nuestra forma de entender el buceo.<br><br>
                    Descubre a trav&eacute;s de nuestras salidas y nuestros cursos formativos
                    todo lo que el oc&eacute;ano esconde y vive nuevas experiencias en la mejor compa&ntilde;&iacute;a.</p>
              </div>
                  <div class="col-sm-8 col-md-4 item">
                    <img src="img/logov2.png"  alt="Logo Islas Hormigas">
                  </div>
                  <div class="col-md-3 item text-center">
                      <h3>LINKS</h3>
                      <ul><br/>
                        <li class="policy"><a id="policy" href="/legal">Terminos de uso</a></p><br/>
                        <li class="policy"><a id="policy" href="/privacidad">Privacidad</a></p><br/>
                        <li class="policy"><a id="policy" href="/cookies">Cookies</a></p><br/>
                      </ul>
                  </div>
                  
                  <div class="col item social">
                    <a id="sm" target="_blank" href="https://www.youtube.com/watch?v=TXrWZhWjv5I"><span class="fab fa-youtube"></a></span></a>
                    <a id="sm" target="_blank" href="https://www.facebook.com/islashormigasclubdebuceo/"><span class="fab fa-facebook">
                    <a id="sm" target="_blank" href="https://www.instagram.com/islashormigas_dive_center/"><span class="fab fa-instagram"></a></span></a>
              </div>
          </div>
          <p class="copyright">Copyright &copy; 2020 Islas Hormigas. Todos los derechos reservados.</p></div>
      </footer>
     
 </div>
      </div>
      </footer>
</body>
</html>