<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,800|Raleway:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="css/home.css" />
     <link rel="icon" type="image/png" href="img/islas.jpeg" />
  
    <title>Cookies</title>
</head>
<body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/home">
        <img src="img/logo2.png" alt="Logo Islas Hormigas" />
      </a>
    </nav>





     <!-- BUTTON - DROPDOWN -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto float-left">
        <!-- BUTTON - NORMAL -->
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/inmersiones">Salidas</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link"href="/login">Mi cuenta</a>
        </li> 
      </ul>
    </div>
  </nav>
    
  <!-- CONTENT-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col p-5">
          <p>
            Qu&eacute; son las cookies?<br/><br/>

            En ingl&eacute;s, el t&eacute;rmino &ldquo;cookie&rdquo; significa galleta, pero en el &aacute;mbito de la navegaci&oacute;n web, una
            &ldquo;cookie&rdquo; es algo completamente distinto.<br/><br/>
           
            Cuando accedes a nuestra web, en el navegador de tu dispositivo se almacena una peque&ntilde;a cantidad de texto que se denomina 
            &ldquo;cookie&rdquo;. Este texto contiene informaci&oacute;n variada sobre tu navegaci&oacute;n, h&aacute;bitos, preferencias, personalizaciones de contenidos, etc&#8230;<br/><br/>
           
            Existen otras tecnolog&iacute;as que funcionan de manera similar y que tambi&eacute;n se usan para recopilar datos 
            sobre tu actividad de navegaci&oacute;n. Llamaremos &ldquo;cookies&rdquo; a todas estas tecnolog&iacute;as en su
            conjunto.<br/><br/>
           
            Los usos concretos que hacemos de estas tecnolog&iacute;as se describen en el presente documento.<br/><br/>

            

            &iquest;Para qu&eacute; se utilizan las cookies en esta web?<br/><br/>

            Las cookies son una parte esencial de c&oacute;mo funciona nuestro sitio web. El objetivo principal de nuestras cookies es mejorar
            tu experiencia en la navegaci&oacute;n. Por ejemplo, para recordar tus preferencias (idioma, pa&iacute;s, etc.) durante la navegaci&oacute;n y en 
            futuras visitas. La informaci&oacute;n recogida en las cookies nos permite adem&aacute;s mejorar la web, adaptarla a tus intereses como usuario, acelerar las b&uacute;squedas que realices, etc..<br/><br/>
           
            En determinados casos, si hemos obtenido tu previo consentimiento informado, podremos utilizar cookies para otros usos, 
            como por ejemplo para obtener informaci&oacute;n que nos permita mostrarte publicidad basada en el an&aacute;lisis de tus h&aacute;bitos de navegaci&oacute;n.<br/><br/>

            

            &iquest;Para qu&eacute; NO se utilizan las cookies en esta web?<br/><br/>

            En las cookies que utilizamos no se almacena informaci&oacute;n sensible de identificaci&oacute;n personal como tu nombre, direcci&oacute;n, tu contrase&ntilde;a, etc&#8230;<br/><br/>

            

            &iquest;Qui&eacute;n utiliza la informaci&oacute;n almacenada en las cookies?<br/><br/>

            La informaci&oacute;n almacenada en las cookies de nuestro sitio web es utilizada exclusivamente por nosotros, 
            a excepci&oacute;n de aquellas identificadas m&aacute;s adelante como &lsquo;cookie de terceros&rsquo;, que son utilizadas y gestionadas 
            por entidades externas que nos proporcionan servicios que mejoran la experiencia del usuario. Por ejemplo las estad&iacute;sticas 
            que se recogen sobre el n&uacute;mero de visitas, el contenido que m&aacute;s gusta, etc&#8230; lo suele gestionar GOOGLE ANALYTICS .<br/><br/>

            Las cookies de terceros tambi&eacute;n se suelen utilizar para garantizar las operaciones de pago realizadas a trav&eacute;s de la web.<br/><br/>

            

            &iquest;C&oacute;mo puedo evitar el uso de cookies en este sitio web?<br/><br/>

            Si prefieres evitar el uso de las cookies, puedes RECHAZAR su uso o puedes CONFIGURAR 
            las que quieres evitar y las que permites utilizar (en este documento te damos informaci&oacute;n ampliada al 
            respecto de cada tipo de cookie, su finalidad, destinatario, temporalidad, etc&#8230; ).<br/><br/>

            Si las has aceptado, no volveremos a preguntarte a menos que borres las cookies en tu dispositivo seg&uacute;n se indica en el apartado siguiente.<br/><br/>

            Si quieres revocar el consentimiento tendr&aacute;s que eliminar las cookies y volver a configurarlas.<br/><br/>

            

            &iquest;C&oacute;mo deshabilito y elimino la utilizaci&oacute;n de cookies?<br/><br/>

            Para restringir, bloquear o borrar las cookies de este sitio web (y las usada por terceros) puedes hacerlo, en cualquier momento, modificando 
            la configuraci&oacute;n de tu navegador. Ten en cuenta que esta configuraci&oacute;n es diferente en cada navegador, si bien es habitual encontrar la configuraci&oacute;n 
            de cookies en el men&uacute; &lsquo;Preferencias&rsquo; &lsquo;Herramientas&rsquo; &ldquo;Opciones&rdquo; y despu&eacute;s en &ldquo;Privacidad y
            Seguridad&rdquo; &oacute; en &ldquo;borrar datos de navegaci&oacute;n&rdquo;, etc&#8230;<br/><br/>

            Para m&aacute;s detalle sobre la configuraci&oacute;n de las cookies en cada navegador, puedes consultar el men&uacute; &lsquo;Ayuda&rsquo; del mismo..<br/><br/>

            

            &iquest;Qu&eacute; tipos de cookies se utilizan en esta p&aacute;gina web?<br/><br/>

            Cada p&aacute;gina web utiliza sus propias cookies. En nuestra web utilizamos las que se indican a
            continuaci&oacute;n:

            SEG&Uacute;N LA ENTIDAD QUE LO GESTIONA<br/><br/>

            • Cookies propias:<br/>
            son aquellas que se env&iacute;an al equipo terminal del usuario desde un equipo o dominio gestionado por elpropio editor y desde el que se presta el servicio solicitado por el usuario.<br/>
            • Cookies de terceros:<br/>
            son aquellas que se env&iacute;an al equipo terminal del usuario desde un equipo o dominio que no es
            gestionado por el editor, sino por otra entidad que trata los datos obtenidos trav&eacute;s de las cookies.
            En el caso de que las cookies sean servidas desde un equipo o dominio gestionado por el propio editor, pero la informaci&oacute;n que se recoja mediante estas sea gestionada por un 
            tercero, no pueden ser consideradas como cookies propias si el tercero las utiliza para sus propias finalidades (por ejemplo, la mejora de los servicios que presta o la prestaci&oacute;n 
            de servicios de car&aacute;cter publicitario a favor de otras entidades).

            SEGÚN SU FINALIDAD<br/><br/>

            • Cookies técnicas:<br/>
            son aquellas necesarias para la navegaci&oacute;n y el buen funcionamiento de nuestra p&aacute;gina web, como por ejemplo, 
            controlar el tr&aacute;fico y la comunicaci&oacute;n de datos, identificar la sesi&oacute;n, acceder a partes de acceso restringido,
             recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, gestionar el pago, controlar el fraude vinculado 
             a la seguridad del servicio, realizar la solicitud de inscripci&oacute;n o participaci&oacute;n en un evento, contar visitas a efectos de la 
             facturaci&oacute;n de licencias del software con el que funciona el servicio (sitio web, plataforma o aplicaci&oacute;n), utilizar elementos de 
             seguridad durante la navegaci&oacute;n, almacenar contenidos para la difusi&oacute;n de v&iacute;deos o sonido, habilitar contenidos din&aacute;micos 
             (por ejemplo, animaci&oacute;n de carga de un texto o imagen) o compartir contenidos a trav&eacute;s de redes sociales. &bull; Cookies de an&aacute;lisis:
            permiten cuantificar el n&uacute;mero de usuarios y as&iacute; realizar la medici&oacute;n y an&aacute;lisis estad&iacute;stico de la utilizaci&oacute;n que 
            hacen los usuarios del servicio ofertado. Para ello se analiza su navegaci&oacute;n en nuestra p&aacute;gina web con el fin de mejorar la oferta de productos 
            o servicios que le ofrecemos. &bull; Cookies de preferencias o personalizaci&oacute;n:
            son aquellas que permiten recordar informaci&oacute;n para que el usuario acceda al servicio con determinadas caracter&iacute;sticas 
            que pueden diferenciar su experiencia de la de otros usuarios, como, por ejemplo, el idioma, el n&uacute;mero de resultados a mostrar cuando 
            el usuario realiza una b&uacute;squeda, el aspecto o contenido del servicio en funci&oacute;n del tipo de navegador a trav&eacute;s del cual el
             usuario accede al servicio o de la regi&oacute;n desde la que accede al servicio, etc. &bull; Publicitarias comportamentales:
            son aquellas que, tratadas por nosotros o por terceros, nos permiten analizar sus h&aacute;bitos de navegaci&oacute;n en Internet
             para que podamos mostrarle publicidad relacionada con su perfil de navegaci&oacute;n.<br/><br/>
             
            SEG&Uacute;N EL PLAZO DE TIEMPO QUE PERMANECEN ACTIVADAS<br/><br/>

            &bull;Cookies de sesi&oacute;n:<br/><br/>
            son aquellas dise&ntilde;adas para recabar y almacenar datos mientras el usuario accede a una p&aacute;gina web.
            Se suelen emplear para almacenar informaci&oacute;n que solo interesa conservar para la prestaci&oacute;n del
            servicio solicitado por el usuario en una sola ocasi&oacute;n (por ejemplo, una lista de productos adquiridos) y desaparecen al terminar la sesi&oacute;n.<br/><br/>
            &bull; Cookies persistentes:<br/><br/>
            son aquellas en las que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido 
            por el responsable de 
            la cookie, y que puede ir de unos minutos a varios a&ntilde;os. A este respecto debe valorarse espec&iacute;ficamente si es necesaria 
            la utilizaci&oacute;n de cookiespersistentes, puesto que los riesgos para la privacidad podr&iacute;an reducirse mediante la 
            utilizaci&oacute;n de cookies de sesi&oacute;n. En todo caso, cuando se instalen cookies persistentes, se recomienda reducir al 
            m&iacute;nimo necesario su duraci&oacute;n temporal atendiendo a la finalidad de su uso. A estos efectos, el Dictamen 4/2012 del 
            GT29 indic&oacute; que para que una cookie pueda estar exenta del deber de consentimiento informado, su caducidad debe estar 
            relacionada con su finalidad. Debido a ello, es mucho m&aacute;s probable que se consideren como exceptuadas las cookies de sesi&oacute;n que 
            las persistentes.los riesgos para la privacidad podrían reducirse mediante la utilización de cookies de sesión. En todo caso, cuando se instalen 
            cookies persistentes, se recomienda reducir al mínimo necesario su duración temporal atendiendo a la finalidad de su uso. A estos efectos, el 
            Dictamen 4/2012 del GT29 indicó que para que una cookie pueda estar exenta del deber de consentimiento informado, su caducidad debe estar 
            relacionada con su finalidad. Debido a ello, es mucho más probable que se consideren como exceptuadas las cookies de sesión que las persistentes.

            

            Detalle de cookies utilizadas en esta web:

            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Cookies</th>
                  <th scope="col">Finalidad</th>
                  <th scope="col">Duración</th>
                  <th scope="col">Gestión</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Identificación del usuario</td>
                  <td>Se utilizan para identificar al usuario, contienen datos técnicos de sesión, tiempo de espera de conexión, etc…</td>
                  <td>Sesión</td>
                  <td>Propias</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Estado de la navegación</td>
                  <td>Se utilizan para identificar en qué estado de navegación se encuentra el usuario: primera página, primer acceso, etc..</td>
                  <td>Sesión</td>
                  <td>Propias</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Selecciones del usuario</td>
                  <td>Se utilizan para guardar los valores que han sido seleccionados por el usuario: idioma, moneda, productos, talla…</td>
                  <td>Sesión</td>
                  <td>Propias</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Protocolos</td>
                  <td >	Permiten gestionar cambios de dominio entre seguro (https) y no seguro (http)</td>
                  <td>Sesión</td>
                  <td>Propias</td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>
      </div>
    </div>
  </section>
  
<!-- FOOTER 3 COL -->
<footer>
  <div class="footer_container">
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-md-5 item text">
                  <h3>ACERCA DE NOSOTROS</h3>
                  <p>En Islas Hormigas Club de Buceo queremos compartir contigo nuestra pasi&oacute;n
                    por el mar y nuestra forma de entender el buceo.<br><br>
                    Descubre a trav&eacute;s de nuestras salidas y nuestros cursos formativos
                    todo lo que el oc&eacute;ano esconde y vive nuevas experiencias en la mejor compa&ntilde;&iacute;a.</p>
              </div>
                  <div class="col-sm-8 col-md-4 item">
                    <img src="img/logov2.png"  alt="Logo Islas Hormigas">
                  </div>
                  <div class="col-md-3 item text-center">
                      <h3>LINKS</h3>
                      <ul><br/>
                        <li class="policy"><a id="policy" href="/legal">Terminos de uso</a></p><br/>
                        <li class="policy"><a id="policy" href="/privacidad">Privacidad</a></p><br/>
                        <li class="policy"><a id="policy" href="/cookies">Cookies</a></p><br/>
                      </ul>
                  </div>
                  
                  <div class="col item social">
                    <a id="sm" target="_blank" href="https://www.youtube.com/watch?v=TXrWZhWjv5I"><span class="fab fa-youtube"></a></span></a>
                    <a id="sm" target="_blank" href="https://www.facebook.com/islashormigasclubdebuceo/"><span class="fab fa-facebook">
                    <a id="sm" target="_blank" href="https://www.instagram.com/islashormigas_dive_center/"><span class="fab fa-instagram"></a></span></a>
              </div>
          </div>
          <p class="copyright">Copyright &copy; 2020 Islas Hormigas. Todos los derechos reservados.</p></div>
      </footer>
     
 </div>
      </div>
      </footer>
</body>
</html>