<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,800|Raleway:300,400,700&display=swap" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/1ef2e059b7.js" crossorigin="anonymous"></script>
        
       
        <link rel="stylesheet" type="text/css" href="css/cursos.css" />
         <link rel="icon" type="image/png" href="img/islas.jpeg" />
      
    <title>Cursos</title>
</head>
<body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/home">
        <img src="img/logo2.png" alt="Logo Islas Hormigas" />
      </a>
    </nav>




    <!-- BUTTON - DROPDOWN -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto float-left">
        <!-- BUTTON - NORMAL -->
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/inmersiones">Salidas</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link"href="/login">Mi cuenta</a>
        </li> 
      </ul>
    </div>
  </nav>

   
  <!--HERO-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">CURSOS DE </h2>
      <h1 class="display-4">BUCEO </h1>
      <h1 class="display-4">RECREATIVO</h1>
      <h3 class="display-6">Cursos personalizados y ajustados <br/>a tu disponibilidad, <br/>preferencias y nivel de experiencia.</h3>
      <a href="/login" class="btn btn-link stretched-link">¡Apúntate!</a>
    </div>
  </div>

    <!-- COURSES SECTION -->
    <div class="card mb-3" >
      <div class="row">
        <div class="col-md-1">
          </div>
        <div class="col-md-4">
          <img src="/img/ssi.jpg" class="card-img" alt="logo-ssi">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Agencia Certificadora</h5>
            <p class="card-text">Intentamos compatibilizar nuestra filosof&iacute;a de ense&ntilde;anza con la de las a
              gencias que hay en el mercado y en esta compatibilidad nos decantamos por SSI como nuestra principal agencia 
              de formaci&oacute;n, por las herramientas que nos proporcionan y la estructura clara y de f&aacute;cil acceso para el alumno. <br/><br/>

              SSI es una agencia reconocida en todo el mundo con una de las mejores plataformas online dentro de la industria del buceo, 
              donde el material podemos encontrarlo en diferentes idiomas, y al docente nos permite hacer un seguimiento de las sesiones 
              acad&eacute;micas que est&aacute; llevando el alumno, facilitando mucho el repaso de teor&iacute;a una vez llegados al centro 
              de buceo para iniciar sus sesiones de agua.</p>
          </div>
        </div>
      </div>
    </div>




    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="img/bautizo.jpg" class="card-img-top" alt="Try Scubar" /></div>
              <h4><a href="https://www.divessi.com/es/get-certified/scuba-diving/try-scuba">Try Scuba</a></h4>
              <p>Descubre el mundo subacu&aacute;tico, practica en aguas confinadas y obt&eacute;n la tarjeta de 
                reconocimiento de Try Scuba de SSI. Este programa se imparte en aguas poco profundas y es una aventura 
                de buceo perfecta para toda la familia. &iexcl;Empieza hoy mismo!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="img/open.jpg" class="card-img-top" alt="open water" /></div>
              <h4><a href="https://www.divessi.com/es/get-certified/scuba-diving/open-water-diver">Open Water Diver</a></h4>
              <p>Si lo que buscas es bucear con quien quieras y donde quieras, el programa de Open Water Diver es para ti. 
                Consigue una certificación internacional que te permitirá formar parte de un grupo exclusivo de 
                exploradores submarinos; un sueño al alcance de muy pocos. Aprender a bucear es mucho más fácil de lo que crees. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="img/flotabilidad.jpg" class="card-img-top" alt="Perfect Buoyancy" /></div>
              <h4><a href="https://www.divessi.com/es/advanced-training/scuba-diving/perfect-buoyancy">Perfect Buoyancy</a></h4>
              <p>Despl&aacute;zate f&aacute;cilmente bajo el agua, prolonga tu tiempo de inmersi&oacute;n, reduce tu 
                consumo de aire y mucho m&aacute;s con la especialidad de Perfect Buoyancy de SSI. Sea cual sea tu 
                objetivo al bucear, conseguir una flotabilidad perfecta es la clave del &eacute;xito. Empieza ahora a 
                formarte en este curso imprescindible de especialidad</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="img/nitrox.jpg" class="card-img-top" alt="open water" /></div>
              <h4><a href="https://www.divessi.com/es/advanced-training/scuba-diving/enriched-air-nitrox">Enriched Air Nitrox</a></h4>
              <p>&iquest;Quieres prolongar tu tiempo de inmersi&oacute;n y explorar los lugares de 
                buceo que tanto te gustan durante m&aacute;s tiempo? Inscr&iacute;bete en el programa 
                de especialidad de Enriched Air Nitrox de SSI y convi&eacute;rtete en Nitrox Diver. 
                Este curso es perfecto para reducir el cansancio y disfrutar al m&aacute;ximo de tu 
                tiempo de inmersi&oacute;n, sobre todo los d&iacute;as de inmersiones m&uacute;ltiples. 
                </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="img/rescue.jpg" class="card-img-top" alt="open water" /></div>
              <h4><a href="https://www.divessi.com/es/advanced-training/scuba-diving/diver-stress-rescue">Stress & Rescue</a></h4>
              <p>El estr&eacute;s de los buceadores es la principal causa de los accidentes de buceo, 
                pero tambi&eacute;n es muy f&aacute;cil de evitar y remediar. Inscr&iacute;bete en el 
                programa de especialidad de Diver Stress &amp; Rescue de SSI y aprende las habilidades 
                necesarias para protegerte a ti y a tus compa&ntilde;eros. Obt&eacute;n esta imprescindible 
                certificaci&oacute;n de especialidad hoy mismo.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="img/deep.jpg" class="card-img-top" alt="open water" /></div>
              <h4><a href="https://www.divessi.com/es/advanced-training/scuba-diving/deep-diving">Deep Diving</a></h4>
              <p>&iquest;Est&aacute;s listo para el buceo profundo y para descubrir arrecifes, 
                paredes cubiertas de corales, pecios a grandes profundidades y mucho m&aacute;s? 
                Muchos lugares de buceo fascinantes se encuentran en aguas profundas y, con 
                la especialidad de Deep Diving de SSI, descubrir&aacute;s c&oacute;mo explorarlos 
                con seguridad y confianza. Aprender&aacute;s a planificar y realizar inmersiones
                entre los 18 y los 40&#8201;metros de profundidad.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- END COURSES SECTION -->




<!-- FOOTER 3 COL -->
<footer>
  <div class="footer_container">
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-md-5 item text">
                  <h3>ACERCA DE NOSOTROS</h3>
                  <p>En Islas Hormigas Club de Buceo queremos compartir contigo nuestra pasi&oacute;n
                    por el mar y nuestra forma de entender el buceo.<br><br>
                    Descubre a trav&eacute;s de nuestras salidas y nuestros cursos formativos
                    todo lo que el oc&eacute;ano esconde y vive nuevas experiencias en la mejor compa&ntilde;&iacute;a.</p>
              </div>
                  <div class="col-sm-8 col-md-4 item">
                    <img src="img/logov2.png"  alt="Logo Islas Hormigas">
                  </div>
                  <div class="col-md-3 item text-center">
                      <h3>LINKS</h3>
                      <ul><br/>
                        <li class="policy"><a id="policy" href="/legal">Terminos de uso</a></p><br/>
                        <li class="policy"><a id="policy" href="/privacidad">Privacidad</a></p><br/>
                        <li class="policy"><a id="policy" href="/cookies">Cookies</a></p><br/>
                      </ul>
                  </div>
                  
                  <div class="col item social">
                    <a id="sm" target="_blank" href="https://www.youtube.com/watch?v=TXrWZhWjv5I"><span class="fab fa-youtube"></a></span></a>
                    <a id="sm" target="_blank" href="https://www.facebook.com/islashormigasclubdebuceo/"><span class="fab fa-facebook">
                    <a id="sm" target="_blank" href="https://www.instagram.com/islashormigas_dive_center/"><span class="fab fa-instagram"></a></span></a>
              </div>
          </div>
          <p class="copyright">Copyright &copy; 2020 Islas Hormigas. Todos los derechos reservados.</p></div>
      </footer>
     
 </div>
      </div>
      </footer>
</body>
</html>