<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,800|Raleway:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="css/home.css" />
 <link rel="icon" type="image/png" href="img/islas.jpeg" />
  
    <title>Legal</title>
</head>
<body>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/home">
        <img src="img/logo2.png" alt="Logo Islas Hormigas" />
      </a>
    </nav>





     <!-- BUTTON - DROPDOWN -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto float-left">
        <!-- BUTTON - NORMAL -->
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/inmersiones">Salidas</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/login">Mi cuenta</a>
        </li> 
      </ul>
    </div>
  </nav>
  <!-- CONTENT-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col p-5">
          <p>
            AVISO LEGAL

            Propiedad intelectual e industrial
            
            El diseño del portal y sus códigos fuente, así como los logos, marcas y demás signos distintivos que
            aparecen en el mismo pertenecen a (J.F.J DIVING LA MANGA, S.L) y están protegidos por los
            correspondientes derechos de propiedad intelectual e industrial<br/><br/>
            
            Responsabilidad de los contenidos<br/><br/>
            
            J.F.J DIVING LA MANGA, S.L no se hace responsable de la legalidad de otros sitios web de terceros
            desde los que pueda accederse al portal. Tampoco responde por la legalidad de otros sitios web de
            terceros, que pudieran estar vinculados o enlazados desde este portal.<br/><br/>
            
            J.F.J DIVING LA MANGA, S.L no será responsable del uso que terceros hagan de la información
            publicada en el portal, ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa
            o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados
            por el uso de dicha información.<br/><br/>
            
            Reproducción de contenidos<br/><br/>
            
            En virtud de lo dispuesto en la Ley de Propiedad Intelectual quedan expresamente prohibidas la
            reproducción, la distribución y la comunicación pública de la totalidad o parte de los contenidos de esta
            página web, con fines comerciales en cualquier soporte, y por cualquier medio técnico, sin la
            
            Ley aplicable<br/><br/>
            
            J.F.J DIVING LA MANGA, S.L se reserva la facultad de presentar las acciones civiles o penales que
            considere necesaria por la utilización indebida del sitio Web y contenidos, o por el incumplimiento de las
            presentes condiciones.
            La relación entre el usuario y J.F.J DIVING LA MANGA, S.L se regirá por la normativa vigente y de
            aplicación en el territorio nacional. De surgir cualquier controversia en relación a la interpretación y/o a
            la aplicación de estas condiciones, las partes someterán los conflictos a la jurisdicción ordinaria,
            sometiéndose a los Jueces y Tribunales que correspondan conforme a Derecho.
            Así mismo le informamos que dispone de un procedimiento de resolución extrajudicial de controversias
            gratuito y accesible a todos los ciudadanos, se trata de la plataforma de resolución de litigios en línea de
            la Unión Europea, accesible a través del siguiente enlace<br/><br/>
            <a href="https://ec.europa.eu/consumers/odr/main/?event=main.home2.show">https://ec.europa.eu/consumers/odr/main/?event=main.home2.show</a><br/><br/>
            
            Cookies<br/><br/>
            
            En el caso de emplear tecnología “cookie” en la web, dispone de un apartado concreto que le
            informa sobre su existencia así como de su política de uso. Consulte el apartado “política de
            cookies”.<br/><br/>
            En caso contrario, no se emplean cookies de navegación.<br/><br/>
            
            Ejercicio de los derechos de protección de datos<br/><br/>
            
            Para el ejercicio de los derechos deberá identificarse mediante la presentación de su DNI.
            Para cualquier reclamación puede dirigirse al mismo correo indicado. Igualmente podrá dirigirse a la
            Agencia Española de Protección de Datos: <a href="www.aepd.es">www.aepd.es</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- FOOTER 3 COL -->
<footer>
  <div class="footer_container">
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-md-5 item text">
                  <h3>ACERCA DE NOSOTROS</h3>
                  <p>En Islas Hormigas Club de Buceo queremos compartir contigo nuestra pasi&oacute;n
                    por el mar y nuestra forma de entender el buceo.<br><br>
                    Descubre a trav&eacute;s de nuestras salidas y nuestros cursos formativos
                    todo lo que el oc&eacute;ano esconde y vive nuevas experiencias en la mejor compa&ntilde;&iacute;a.</p>
              </div>
                  <div class="col-sm-8 col-md-4 item">
                    <img src="img/logov2.png"  alt="Logo Islas Hormigas">
                  </div>
                  <div class="col-md-3 item text-center">
                      <h3>LINKS</h3>
                      <ul><br/>
                        <li class="policy"><a id="policy" href="/legal">Terminos de uso</a></p><br/>
                        <li class="policy"><a id="policy" href="/privacidad">Privacidad</a></p><br/>
                        <li class="policy"><a id="policy" href="/cookies">Cookies</a></p><br/>
                      </ul>
                  </div>
                  
                  <div class="col item social">
                    <a id="sm" target="_blank" href="https://www.youtube.com/watch?v=TXrWZhWjv5I"><span class="fab fa-youtube"></a></span></a>
                    <a id="sm" target="_blank" href="https://www.facebook.com/islashormigasclubdebuceo/"><span class="fab fa-facebook">
                    <a id="sm" target="_blank" href="https://www.instagram.com/islashormigas_dive_center/"><span class="fab fa-instagram"></a></span></a>
              </div>
          </div>
          <p class="copyright">Copyright &copy; 2020 Islas Hormigas. Todos los derechos reservados.</p></div>
      </footer>
     
 </div>
      </div>
      </footer>
</body>
</html>