<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@300;400;600&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


  <script type="text/javascript" src="js/login.js"></script>
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link rel="icon" type="image/png" href="img/islas.jpeg" />

  <title>Home</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/home">
        <img src="img/logo2.png" alt="Logo Islas Hormigas" />
      </a>
    </nav>




     <!-- BUTTON - DROPDOWN -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto float-left">
        <!-- BUTTON - NORMAL -->
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/inmersiones">Salidas</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item" style="width: 120px">
          <a class="nav-link" href="/login">Mi cuenta</a>
        </li> 
      </ul>
    </div>
  </nav>

  <!-- Space -->
  <div align="center">
    <table cellspacing="0" cellpadding="0" width="100%" class="w320">
      <tr>
        <td height="40" style="line-height: 1px"> &nbsp; </td>
      </tr>
    </table>
  </div><!-- /Space-->


  <!--  ///////////////////////////////////////////////////////// -->
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Inicia
        sesión</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Regístrate</label>
      <div class="login-form">
        <div class="sign-in-htm">
            <div align="center">
    <table cellspacing="0" cellpadding="0" width="100%" class="w320">
      <tr>
        <td height="40" style="line-height: 1px"> &nbsp; </td>
      </tr>
    </table>
  </div><!-- /Space-->
          <div class="group">
            <label for="user" class="label">Nombre de usuario</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <!-- Space -->
          <div align="center">
            <table cellspacing="0" cellpadding="0" width="100%" class="w320">
              <tr>
                <td height="70" style="line-height:1px;">&nbsp;</td>
              </tr>
            </table>
          </div><!-- /Space-->
          <div class="group">
            <input type="submit" class="button" value="Inicia sesión">
          </div>

        </div>
        <div class="sign-up-htm">
            <div align="center">
    <table cellspacing="0" cellpadding="0" width="100%" class="w320">
      <tr>
        <td height="40" style="line-height: 1px"> &nbsp; </td>
      </tr>
    </table>
  </div><!-- /Space-->
          <div class="group">
            <label for="user" class="label">Nombre y apellidos</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="user" class="label">Nombre de usuario</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Repite la contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Email</label>
            <input id="pass" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Dirección</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input type="submit" class="button" value="Regístrate">
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Space -->
  <div align="center">
    <table cellspacing="0" cellpadding="0" width="100%" class="w320">
      <tr>
        <td height="70" style="line-height:1px" >&nbsp;</td>
      </tr>
    </table>
  </div><!-- /Space-->
<!-- FOOTER 3 COL -->
<footer>
  <div class="footer_container">
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-md-5 item text">
                  <h3>ACERCA DE NOSOTROS</h3>
                  <p>En Islas Hormigas Club de Buceo queremos compartir contigo nuestra pasi&oacute;n
                    por el mar y nuestra forma de entender el buceo.<br><br>
                    Descubre a trav&eacute;s de nuestras salidas y nuestros cursos formativos
                    todo lo que el oc&eacute;ano esconde y vive nuevas experiencias en la mejor compa&ntilde;&iacute;a.</p>
              </div>
                  <div class="col-sm-8 col-md-4 item">
                    <img src="img/logov2.png"  alt="Logo Islas Hormigas">
                  </div>
                  <div class="col-md-3 item text-center">
                      <h3>LINKS</h3>
                      <ul><br/>
                        <li class="policy"><a id="policy" href="/legal">Terminos de uso</a></p><br/>
                        <li class="policy"><a id="policy" href="/privacidad">Privacidad</a></p><br/>
                        <li class="policy"><a id="policy" href="/cookies">Cookies</a></p><br/>
                      </ul>
                  </div>
                  
                  <div class="col item social">
                    <a id="sm" target="_blank" href="https://www.youtube.com/watch?v=TXrWZhWjv5I"><span class="fab fa-youtube"></a></span></a>
                    <a id="sm" target="_blank" href="https://www.facebook.com/islashormigasclubdebuceo/"><span class="fab fa-facebook">
                    <a id="sm" target="_blank" href="https://www.instagram.com/islashormigas_dive_center/"><span class="fab fa-instagram"></a></span></a>
              </div>
          </div>
          <p class="copyright">Copyright &copy; 2020 Islas Hormigas. Todos los derechos reservados.</p></div>
      </footer>
     
 </div>
      </div>
      </footer>
</body>
</html>